<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Kalam&display=swap" rel="stylesheet">
    <title>To Do List</title>
</head>
<body>

    <section class="principal">
        <h1 class="header"> To Do List</h1>

        <h2><%= day %></h2>

        <ul>
            <% for(var i = 0; i < listItems.tasks.length; i++) { %>
            <li><%= listItems.tasks[i].description %></li>
            <% }; %>
        </ul>

        <form action="/" method="post">
            <div class="main-input">
                <input type="text" name="newItem" placeholder="New task" class="task-input">
                <button type="submit">+</button>
            </div>
        </form>    
    </section>
        
</body>
</html>